services:
  postgres:
    image: postgres:17
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "7000:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: cms_blog
      POSTGRES_DB: cms_blog
