/* Main Layout */
@utility grid-layout {
  @apply max-w-[1100px] mx-auto w-[calc(100%-2.5rem)] md:w-full md:px-5;
}

@utility test {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(220, 20, 60); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }

  &::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
  }
}

@utility w-calc-* {
  width: calc(100% - --spacing(--value(integer)));
  width: calc(100% - --value([length]));
}

@utility my-transition {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    left 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* ===== 3. 유틸리티 클래스 ===== */
@utility animate-fadein {
  animation: fadeIn 0.5s linear infinite alternate;
}

@utility animate-close {
  animation: close 0.5s 0.5s forwards;
}

@utility animate-opacity {
  opacity: 0;
  animation: opacity 0.5s linear forwards;
}
@utility animate-wiggle {
  animation: wiggle 0.5s ease;
}

@utility animate-fadein {
  animation: fadeIn 0.5s ease;
}

@utility animate-close {
  animation: close 0.5s 0.5s ease;
}

@utility animate-opacity {
  animation: opacity 1.4s ease forwards;
}

@utility animate-bgscale {
  animation: bgScale 5s cubic-bezier(0.2, 0.56, 0.38, 0.41) infinite forwards
    alternate;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
