/* Main Layout */
@utility grid-layout {
  @apply max-w-[1100px] mx-auto w-[calc(100%-2.5rem)] md:w-full md:px-5;
}

@utility scroll-bar-custom {
  /* 스크롤바 너비 */
  &::-webkit-scrollbar {
    @apply w-2;
  }

  /* 스크롤바 막대 */
  &::-webkit-scrollbar-thumb {
    @apply bg-primary/80 rounded-lg;
    @apply hover:bg-primary;
    @apply transition-colors duration-200;
  }

  /* 스크롤바 트랙 */
  &::-webkit-scrollbar-track {
    @apply bg-primary/5 rounded-lg;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary) / 0.8) hsl(var(--primary) / 0.05);
}
@utility w-calc-* {
  width: calc(100% - --spacing(--value(integer)));
  width: calc(100% - --value([length]));
}

@utility my-transition {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    left 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* ===== 3. 유틸리티 클래스 ===== */
@utility animate-fadein {
  animation: fadeIn 0.5s linear infinite alternate;
}

@utility animate-close {
  animation: close 0.5s 0.5s forwards;
}

@utility animate-opacity {
  opacity: 0;
  animation: opacity 0.5s linear forwards;
}
@utility animate-wiggle {
  animation: wiggle 0.5s ease;
}

@utility animate-fadein {
  animation: fadeIn 0.5s ease;
}

@utility animate-close {
  animation: close 0.5s 0.5s ease;
}

@utility animate-opacity {
  animation: opacity 1.4s ease forwards;
}

@utility animate-bgscale {
  animation: bgScale 5s cubic-bezier(0.2, 0.56, 0.38, 0.41) infinite forwards
    alternate;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
